$accent-colour-light: #009ec5;
$accent-colour-dark: #01a1c9;
$secondary-colour: #0084a5;
$active-colour: #5992a0;
$background-colour: #dadada;
$background-colour-dark: #555555;
$web-background-colour: #b9b9b9;
$web-background-colour-dark: #333;