.sNavList {
    list-style-type: none;
}

.sNavList a {
    font-size: 1rem;
}

.sNavList li {
    display: inline;
}

.g p {
    padding: 0 2rem;
}

.g h1 {
    padding: 0 0;
}

.g h2 {
    padding: 1rem 1rem 0;
}